:root {
  --brand-color: #2196f3;
}
body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

/* Шапка */

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-blue {
  color: var(--brand-color);
}

.site-nav {
  list-style-type: none;
}

.link-nav {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--brand-color);
}

/* Контакти */

.contact {
  list-style-type: none;
}

.link-contact {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-contact:hover,
.link-contact:focus {
  color: var(--brand-color);
}

/* Герой */

.geroy {
}

.geroy .geroy-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button-order {
  cursor: pointer;
  background: var(--brand-color);
}

.order-service {
  font-family: "Roboto";
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Переваги */

.benefits {
  list-style-type: none;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.benefits-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Приклади робіт */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.work {
  list-style-type: none;
}

/* Команда */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team {
  list-style-type: none;
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

/* Підвал */

.address {
  list-style-type: none;
}

.location {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact-footer {
  color: #ffffff99;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Portfolio.html */

.portfolio-nav {
  list-style-type: none;
}

.all-button {
  font-family: "Roboto";
  font-style: normal;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio-list {
  list-style-type: none;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
